@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;800&display=swap");
* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background: url("assets/retro.png");
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
}
nav {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  margin-left: 80px;
  margin-right: 80px;
}

nav div ul {
  display: flex;
  list-style-type: none;
  gap: 60px;
}
nav div h1 {
  text-transform: uppercase;
  width: 30px;
}
.mobile ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.heading {
  margin-left: 10%;
  margin-top: 8%;
  width: 50%;
  color: #ffffff;
  font-size: 4rem;
  font-weight: 800;
}

.learn-more button {
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;
  margin-left: 10%;
  margin-top: 5%;
  padding: 15px 30px;
  font-weight: 800;
}
hr {
  width: 70%;
  margin-right: 80px;
  float: right;
}

.hint {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  width: 150px;
  background-color: #324c5e;
}
.hint img {
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #fff;
}
.hint p {
  margin-top: 10px;
}
.hint-1 {
  position: relative;
  left: 1000px;
  bottom: 300px;
}
.hint-2 {
  position: relative;
  left: 800px;
  bottom: 100px;
}

.line-1 {
  position: relative;
  left: 990px;
  bottom: 150px;
  height: 1px;
  width: 100px;
  background: white;
}
.line-1 span {
  position: relative;
  height: 15px;
  bottom: 7px;
  margin-left: 100px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.line-2 {
  position: relative;
  left: 1100px;
  bottom: 410px;
  width: 1px;
  height: 100px;
  background: white;
}
.line-2 span {
  position: relative;
  height: 15px;
  bottom: 7px;
  margin-left: -7px;
  margin-top: 100px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

@media only screen and (max-width: 1000px) {
  .heading {
    font-size: 2rem;
  }
  .nav-menu {
    display: none;
  }
}
